@font-face{
    font-family: HelveticaNeue;
    src:url(../../HelveticaNeue.ttc)
}
.left{
    width: 1098px;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    padding-top: 47px;
    box-sizing: border-box;
    justify-content: center;
}
.left_wrapper{
    width: 798px;
    
}
.header_top{
    display: flex;
    justify-content: space-between;
    width: 798px;
    
}
.header_bottom{
    width: 798px;
    height: 1px;
    background-color: black;
}
.personal_info{
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 700;
}
.page_one{
    font-family:HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.header_top{
    margin-bottom: 12px;
}
.right{
    width: 822px;
}
.second_page{
    display: flex;
    position: relative;
    
}
.previous{
    position: absolute;
    top:45px;
    left:48px;
    cursor: pointer;
}
.first_page_small_inputs{
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-top: 8px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding-left: 16px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);

}
/* .first_page_small_inputs::after{
    content: url('../../assets/done.png');
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block; 
} */
.error{
    border: 2px solid #EF5050;
}
.errorPhone{
    color: #EF5050;
}
/* .phoneError{
    border: 2px solid #EF5050;
}
.emailError{
    border: 2px solid #EF5050;
}  */
.second_page_form_first_line{ 
    display: flex;
    width: 798px;
    justify-content: space-between;
}
.second_page_form_first_line_input{
    display: flex;
    flex-direction: column;
    
}
.personal_data{
    margin-top:77px;
}
label{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}
.first_page_language{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    margin-top:8px
}

.second_page_form_second_line{
    display: flex;
    align-items: center;
    margin-top: 54px;
}
.attach_photo{
    opacity: 0;
    width: 107px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
}
.personal_photo{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-right: 19px;
}
.attach_button{
    position: relative;
    width: 107px;
    height: 27px;
    border: none;
    color: white;
    background: #0E80BF;
    border-radius: 4px;
    box-sizing: border-box;
}
.attach_button_span{
    color: white;
    font-family: HelveticaNeue;
    font-style: normal;
}
.second_page_form_third_line{
    margin-top: 54px;
    display: flex;
    flex-direction: column;
}

.about_me_input{
 
    width: 798px;
    height: 103px;
    resize: none;
    font-family: HelveticaNeue;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 13px;
    font-size: 16px;
    box-sizing: border-box;
}
.about_person_header{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}
.second_page_form_fourth_line{
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    margin-bottom: 29px;
    gap: 8px;
}
.second_page_form_fifth_line{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.large_inputs_first{
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    font-family: HelveticaNeue;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    padding-left: 16px;
    font-size: 16px;
    box-sizing: border-box;
}
.email_first{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    margin-top:8px
}
.number_first{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #2E2E2E;
    margin-top:8px
}

.next_button{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 16px;
    cursor: pointer;
    width: 151px;
    background: #6B40E3;
    border-radius: 4px;
    height: 48px;
    border: none;
    letter-spacing: 0.08em;
    line-height: 21px;
}
.next_button::after{
    content: 'შემდეგი';
    font-family: HelveticaNeue;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}
.next_button:hover{
    width: 261px;
    background-color: #7949FF;
    height: 48px;
}
.next_button:hover::after{
    content: 'ჩანაწერის დამატება';
    font-family: HelveticaNeue;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
}
.first_page_next_button_parent{
    display: flex;
    justify-content: flex-end;
    margin-top: 160px;
}
.right{
    display: flex;
    align-items: flex-end;
    padding-left: 54px;
    padding-bottom: 34px;
    box-sizing: border-box;
}
.next_button:hover{
    content:'aasqwd'
}
.attached_file_name{
    margin-left: 15px;
}
.error{
    border: 2px solid #EF5050;
}
.errorText{
    color: #EF5050;
}





.gmail_icon{
    margin-right: 12px;
}
.phone_icon{
    margin-right: 12px;
}
.phone_number{
    margin-bottom: 34px;
}
.about_me{
    margin-bottom: 15px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #F93B1D;
}
.about_me_par{
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    color: #000000;
    width: 432px;
}
.top_content{
    display: flex;
    justify-content: space-between;
}
.logo3_parent{
    width: 100%;
    padding-bottom: 34px;
    padding-left:43px;
    box-sizing: border-box;
}
.right_line{
    width: 662px;
    margin-top: 19px;
    height: 1px;
    background-color: #C8C8C8;
}

.third_page_right{
    padding-top: 48px;
    width: 822px;
    background-color:white ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.red{
    color: #EF5050;

}
.redBorder{
    border:2px solid #EF5050;
}
.warning{
    width: 21px;
    height: 18.75px;
    margin-left: 20px;
}
.err{
    display: flex;
}
/* .warning_input{
    width: 21px;
    height: 18.75px;
    margin-top: 30px;
    margin-left: 10px;

} */